.body{
    color: pink;
    background-color: pink;
}
.container{
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 550px;
}
.email-input{
    border-color: black;
    background-color: lightpink;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    width: 90%;
    margin-left: 20px;
    border: none;
    padding: 3px;
}
.h2-1{
    color: black;
    margin-left: 100px;
}
.username-input{
    border-color: black;
    background-color: lightpink;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    width: 90%;
    margin-left: 20px;
    border: none;
    padding: 3px;
}
.h2-2{
    color: black;
    margin-left: 100px;
}
.h2-3{
    color: black;
    margin-left: 100px;
}
.password-input{
    border-color: black;
    background-color: lightpink;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    width: 90%;
    margin-left: 20px;
    border: none;
    padding: 3px;
}
.register-button{
    border: none;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 5px;
    margin-left: 85px;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
}